@import './base.css';

.text-justify{
    text-align: justify;
}

.badge-btn{
    background-color: #000;
    border-radius: 0x;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #000;
    margin-right: 10px;
}

.badge-btn:hover{
    background-color: gray;
    color: #fff;
    border: 1px solid white;
}


.date-badge{
    pointer-events: none;
    background-color: #000;
    font-weight: bold;
    border-radius: 0x;
    padding: 4px 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #000;
    margin-right: 10px;
}

p a{
    text-decoration: none !important;
    color: rgb(29, 149, 230) !important;
}

.text-white{
    color: #ffffff;
}

.btn{
    border-radius: 0px!important;
}